@inherits LayoutComponentBase
<header class="masthead">
    <img src="images/storelogo.png" alt="Fashion Store Logo" class="header-logo">
    <h1>Fashion Store Assistant</h1>
</header>



<main>
    @Body
</main>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>